<a 
    style="cursor: pointer;"
    [routerLink]="[index]"
    routerLinkActive="active"
    class="list-group-item clearfix"
    (click)="onSelected()"
    >
    <div class="pull-left">
        <h4 class="list-group-item-heading">{{payment.amount | currency}}</h4>
        <p class="list-group-item-text">{{payment.payDate | date:"dd MMM yyyy"}}</p>
    </div>
    <span class="pull-right">
        <img 
            [src]="payment.url" 
            alt="{{payment.payId}}" 
            class="img-responsive" 
            style="max-height: 50px;">
    </span>
</a>