<div class="row">
  <div class="col-xs-12">
      <h1>{{payment.payDate | date:"dd MMM yyyy" }}</h1>
  </div>

  <div class="col-xs-12">
    <h1>{{payment.amount | currency}}</h1>
</div>


</div>

<div class="row">
    <div class="col-xs-12">
        <img
        [src]=""
        alt="{{payment.imageId}}"
        class="img-responsive"
        style="max-height: 300px;">
    </div>
</div>

  <div class="row">
      <div class="col-xs-12">
          <div
          class="btn-group"
          appDropdown>
          <button
              type="button"
              class="btn btn-primary dropdown-toggle">
              Manage Payment <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
              <!-- <li><a  style="cursor: pointer;">To Shopping List</a></li> -->
              <li><a style="cursor: pointer;" (click)="onEditPayment()" >Edit payment</a></li>
              <!-- <li><a style="cursor: pointer;" >Delete Recipe</a></li> -->
          </ul>
          </div>
      </div>
  </div>
  <!-- <div class="row">
      <div class="col-xs-12">
        {{payment.userId}}
      </div>
  </div> -->
  <!-- <div class="row">
    <div class="col-xs-12">
          <ul class="list-group">
            <li
              class="list-group-item"
              *ngFor="let ingredient of recipe.ingredients">
              {{ ingredient.name }} - {{ ingredient.amount }}
            </li>
          </ul> 
          Ingredient
      </div>
  </div> -->
      